#header {
	text-align: right;
	float: right;
}
ul {
    list-style-type: none;
    display: inline;
}
li {
    display: inline;
}
.left {
	float: left;
}
.right {
	float: right;
}





<!-- This is a comment -->
