#header {
	text-align: right;
	float: right;
	width: 60px;
}
ul {
    list-style-type: none;
    width: 60px;
    display: inline;
} 
li a {
    display: inline;
}
.container {
  	max-width: 940px;
 	margin: 0 auto;
 	padding: 0 10px;
}

<!-- This is a comment -->
